nav.menu {
  display: flex;
  flex-direction: column;
  position: relative; /* important for dropdown positioning */
}

nav.menu .trigger {
  padding: 0.5em;
  cursor: pointer;
}

nav.menu a {
  display: none;
  margin-left: 3em;
}

nav.menu:hover a,
nav.menu:focus-within a {
  display: block;
}
